*.sdf
*.opensdf
*.suo
*.user
Win32
x64
ipch
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
.deps
.dirstamp
.libs
pghottub/pghottub
*.o
libtool
ltmain.sh
missing
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
